.card {
    display: grid;
    grid-template-columns: auto 1fr;

    box-shadow: 0 2px 6px 0 hsl(0 0% 0% / 0.1);
}

.card-list {
    display: grid;
    gap: 1rem;
}

.card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__body {
    display: grid;
    grid-template-rows: 1fr auto;
}

.card__info {
    background-color: var(--color-neutral-lighter);
    padding: .5rem 1rem;
    min-width: 0;
}

.card__actions {
    padding: .5rem;
    background-color: var(--color-neutral-light);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}
