.card {
    display: grid;
    grid-template-columns: auto 1fr;

    box-shadow: var(--main-shadow);
}

.card-list {
    display: grid;
    gap: 1rem;
}

.card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__body {
    display: grid;
    grid-template-rows: 1fr auto;
}

.card__info {
    background-color: var(--color-neutral-lighter);
    padding: .5rem 1rem;
    min-width: 0;
}

.card__actions {
    padding: .5rem;
    background-color: var(--color-neutral-light);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.blog-header {
    background-color: var(--color-neutral-light);
}

.blog-body {
    border: 1px solid black;
}
