#app {
    max-width: 1680px;
    margin-inline: auto;
    min-height: 100dvh;

    background-color: var(--color-neutral);
    border: 1px solid red;

    display: grid;
    grid-template-columns: minmax(auto, 15rem) 5fr;
}

header {
    background-color: var(--color-neutral-lighter);
    padding: 1rem .5rem;

    display: flex;
    flex-direction: column;

    nav {
        flex-grow: 1;
    }
}

main {
    padding: 1rem;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.nav-link {
    border-left: 6px solid transparent;
}

.nav-link[aria-current="page"] {
    border-color: var(--color-text);
    background-color: var(--color-neutral-light);
}

.logo-container {
    margin-bottom: 3rem;
}
