:root {
    color-scheme: white;
}

#main:not(:has(#options.active)) {
    /** DOESN'T HAVE OPTIONS */

    #options {
        display: none;
    }
}

#main:has(#options.active) {
    /** HAVE OPTIONS */
    display: grid;
    min-height: 100dvh;
    grid-template-columns: 7.5fr 2.5fr;
}

#go-back {
    height: 50px;
}

#options {
    background-color: var(--color-neutral-light);
    padding: 1rem;
}

.blog-cover {
    width: 100%;
    cursor: pointer;

    &:hover {
        filter: brightness(.9);
    }
}

#app {
    display: grid;
    max-width: 1680px;
    margin-inline: auto;
    grid-template-rows: auto 1fr;
    min-height: 100dvh;
}

#editor {
    height: 100%;
    border-width: 0;
    font-size: 1.10rem;

    font-family: 'Jost', sans-serif;

    & :is(h1, h2, h3, h4, h5, h6) {
        margin-bottom: .3em;
    }

    p {
        margin-bottom: .5em;
    }

    & :is(ul, ol) {
        margin-block: .5em;
    }
}

.ql-snow {
    border-width: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: center;
    background-color: var(--color-neutral-lighter);

    border-bottom: 1px solid hsl(0 0% 0% / .1);

    & > div:first-child {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.ql-toolbar.ql-snow {
    border-width: 0;
}

.header__title {
    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: .8rem;
    }
}

/**
* {
    border: 1px solid lime;
}
/**/

