header {
    background-color: var(--color-neutral-lighter);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.auth-buttons {
    display: flex;
    gap: .5rem;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

.nav-link  {
    border-top: 6px solid transparent;
}

.nav-link[aria-current="page"] {
    border-color: var(--color-text);
    background-color: var(--color-neutral-light);
}
