@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: white;

    --color-red: #faada5;
    --color-green: #b6eea7;
    --color-orange: #ffcfa1;
    --color-blue: #a1c4fc;
    --color-yellow: #fff699;


    --main-shadow: 0 2px 6px 0 hsl(0 0% 0% / 0.1);

    scroll-behavior: smooth;

    /*TAILWIND THEME (DONE)*/
    --color-neutral: #eff3f6;
    --color-neutral-light: #f9f9f9;
    --color-neutral-lighter: #ffffff;

    --color-text: hsl(0 0% 0% / .75);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Aladin", system-ui;
}

body {
    font-family: 'Jost', system-ui;
    color: var(--color-text);
    background-color: var(--color-neutral);
}

nav ul[aria-expanded="false"] {
    display: none;

    --spacing: 1rem;
}

input:not([type="checkbox"], [type="radius"]),
textarea  {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    border: 1px solid hsl(0 0% 0% / .2);
    background-color: transparent;

    &::placeholder {
        color: hsl(0 0% 0% / .4);
    }
}

.textarea {
    resize: vertical;
}

.skip-link {
    position: absolute;
    top: -20em;
    left: 0;

    width: 100%;
    background-color: var(--color-red);
    padding: 1rem 0;
    text-align: center;
    text-decoration: underline;

    &:focus-visible {
        top: 0;
        outline: 0;
    }
}

.nav-link {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    padding: .5rem;


    .icon {
        margin-right: .5rem;
        stroke-width: 1.5;
    }
}

.nav-li {
    display: grid;
    grid-template-columns: auto 1fr;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.btn {
    display: flex;
    padding: .5rem 1rem;

    border-radius: 2px;
    cursor: pointer;
}

.btn-black {
    background-color: #1a202c;
    color: #f9f9f9;
}

.btn-icon {
    padding: .5rem;
}

.btn-primary {
    background-color: var(--color-blue);
}

.btn-full {
    justify-content: center;
    width: 100%;
}

.logo {
    height: 3.125rem;
}

.logo-container {
    display: flex;
    justify-content: center;
}
