@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

*,
*::after,
*::before {
    /*outline: 1px solid black;*/
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

    --color-neutral: #eff3f6;
    --color-neutral-light: #f9f9f9;
    --color-neutral-lighter: #ffffff;

    --color-text: hsl(0 0% 0% / .75);

    --font-h: "Aladin", cursive, system-ui;
    --font-t: "Jost", system-ui;
}

.blog-body {
    font-family: 'Jost', sans-serif;
    font-size: 1.125em;
    text-wrap: pretty;

    /*font-size: 1.125rem;*/
    & :is(h1, h2, h3, h4, h5, h6) {
        margin-bottom: .5rem;
        font-family: 'Aladin', sans-serif;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        margin-bottom: 1rem;
    }

    iframe {
        width: 100%;
        aspect-ratio: 16/9;
    }

    a {
        text-decoration: underline;
        color: #5f76d3;
    }

    ul {
        margin-bottom: 1rem;
        margin-inline-start: 2rem;
        list-style: disc;
    }

    ol {
        margin-bottom: 1rem;
        margin-inline-start: 2rem;
        list-style: decimal;
    }
}

.container {
    max-width: 1680px;
    margin-inline: auto;
}

.container-sm {
    max-width: 800px;
    margin-inline: auto;
}
